PORT=3000                # локальный порт
MONGODB_USER=            # имя пользователя MongoDB
MONGODB_PASSWORD=        # пароль
MONGODB_URL=             # cluster0.xyz.mongodb.net
MONGODB_DB=              # название базы



SMTP_HOST=#
SMTP_PORT=#
SMTP_USER=#
SMTP_PASSWORD=#
SMTP_FROM= #(значенням має бути пошта, на яку реєстрували акаунт на brevo.com)

JWT_SECRET=#(значення довільне, наприклад, VOQjLdrpG1TWCHhDzv3o)

APP_DOMAIN=#(поки що можна використати зі значенням “http://localhost:3000/auth”)